# Ignore os arquivos e pastas padrão
.mvn/wrapper/maven-wrapper.jar
# Não ignore o diretório target, que contém o JAR do projeto
!target/
# Ignorar arquivos de build e dependências em outros diretórios
**/target/
